* {
	font-family: Arial, sans-serif;
}
body {
	margin: 0;
	background-color: #e6e6e6;
}
header {
	background-color: #a6a6a6;
	padding: 5px;
	border-radius: 10px;
}
header, nav {
	display: flex;
	justify-content: space-between;
}
header div {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
#icon {
	height: 35px;
	width: 35px;
	margin: 0 5px;
}
h1 {
	margin: 0 5px;
}
nav ul {
	margin: 0;
	padding-left: 0;
	align-self: center;
}
nav ul li {
	margin: 0 10px;
	display: inline-block;
	position: relative;
}
nav ul li ul {
	position: absolute;
	display: none;
	z-index: 99;
}
nav ul li ul li {
	left: -2px;
	padding: 2px 2px 4px;
	margin: 0;
	width: max-content;
	background-color: #a6a6a6;
	border-radius: 5px;
}
#email {
	left: -99px;
	display: flex;
	align-items: center;
}
li:hover ul {
	display:block;
}
#emailImg {
	height: 20px;
	margin: 0 2px;
	padding: 0;
	width: 20px;
}
#content {
	box-sizing: border-box;
	display: flex;
}
aside {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
aside p {
	font-size: 25px;
	margin: 5px 0;
}
aside select {
	width: fit-content;
	font-size: 25px;
	margin: 10px 0;
}
#main-content {
	width: 80%;
}
.hidden {
	display: none;
}
button {
	margin: 10px 0;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
	background-color: #b3ffff;
}
#result {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 5px 0;
}
.box-container3 {
	display: grid;
	grid-template-columns: max-content max-content max-content;
	grid-gap: 5px;
	justify-content: center;
	margin: 10px 0;
}
.box3 {
	width: 152px;
	height: 152px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-container4 {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content;
	grid-gap: 5px;
	justify-content: center;
	margin: 10px 0;
}
.box4 {
	width: 113px;
	height: 113px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-container5 {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content max-content;
	grid-gap: 5px;
	justify-content: center;
	margin: 10px 0;
}
.box5 {
	width: 89px;
	height: 89px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-container6 {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content max-content max-content;
	grid-gap: 5px;
	justify-content: center;
	margin: 10px 0;
}
.box6 {
	width: 73px;
	height: 73px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#status {
	display: flex;
	justify-content: space-around;
}
#status p {
	font-size: 25px;
	font-weight: bold;
}
#gameplay, #whatIsThis , #history {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba(191, 191, 191, 0.9);
	border-radius: 5px;
}
#gameplay p, #whatIsThis p, #history p {
	font-size: 150%;
	position: relative;
	width: 80%;
	text-align: center;
	margin: 24px auto;
}
a:link, a:visited {
	color: black;
	text-decoration: none;
}